<div class="container">
  <h2>Form control: checkbox</h2>
  <p>The form below contains three checkboxes. The last option is disabled:</p>
  <form role="form">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Environment
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Build now</a></li>
      <li><a href="#">Schedule Build</a></li>
      <li><a href="#">Migrate SRF/Repository Now</a></li>
      <li><a href="#">Migrate metadata Now</a></li>
      <li><a href="#">Schedule Deploy</a></li>
    </ul>
  </div>


    <div class="checkbox">
      <label><input type="checkbox" value="">Build now</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Schedule Build</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="">Migrate SRF/Repository Now</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Migrate metadata Now</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Schedule Deploy</label>
    </div>
  </form>
</div>