<div class="container" ng-controller="admConfigCtrl"> 
<div class="container" > 
	<h2>Add Repository Info.</h2>
	<form class="form-horizontal" role="form">
		<div class="form-group  col-sm-6 col-md-6">
			<label class="control-label col-sm-6 col-md-6" for="email">Environment:</label>
			<div class="dropdown col-sm-6 col-md-6">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown">
					{{envName}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu form-group  col-sm-6 col-md-6">
					<li ng-repeat="env in allEnvs"><a
						ng-click="dropboxitemselected(env.name)" ng-model="envName">{{env.name}}</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group  col-sm-6 col-md-6">
			<label class="control-label col-sm-6 col-md-6" for="email">Export/Import:</label>
			<div class="dropdown col-sm-6 col-md-6">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown">
					{{admConfigType}}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu form-group  col-sm-6 col-md-6">
					<li><a ng-click="dropboxAdmConfigTypeSelected('Export')" ng-model="admConfigType">Export</a></li>
					<li><a ng-click="dropboxAdmConfigTypeSelected('Import')" ng-model="admConfigType">Import</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group  col-sm-6 col-md-6">
			<label class="control-label col-sm-6 col-md-6" for="email">User
				Id :</label>
			<div class="col-sm-6 col-md-6">
				<input type="text" class="form-control" placeholder="Enter User Id"
					name="name" ng-model="userId" />
			</div>
		</div>
		<div class="form-group  col-sm-6  col-md-6">
			<label class="control-label col-sm-6 col-md-6" for="email">Password:</label>
			<div class="col-sm-6 col-md-6">
				<input type="text" class="form-control" placeholder="Enter Password"
					name="hostName" ng-model="password" />
			</div>
		</div>
		<div class="form-group   col-sm-6 col-md-6">
			<label class="control-label   col-sm-6 col-md-6" for="email">Seibel Server:</label>
			<div class="  col-sm-6 col-md-6">
				<input type="text" class="form-control" placeholder="Enter Server Name"
					name="enterpriseName" ng-model="seibelServer" />
			</div>
		</div>
		<div class="form-group  col-sm-6 col-md-6">
			<label class="control-label   col-sm-6 col-md-6" for="email">Row Id:</label>
			<div class="col-sm-6 col-md-6">
				<input type="text" class="form-control"
					placeholder="Enter Repository Name" name="rowId"
					ng-model="rowId" />
			</div>
		</div>
		<div class="form-group  col-sm-6 col-md-6">
			<label class="control-label  col-sm-6 col-md-6" for="email">Log
				File Path:</label>
			<div class="  col-sm-6 col-md-6">
				<input type="text" class="form-control"
					placeholder="Enter Log File Path" name="service" ng-model="logFilePath" />
			</div>
		</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default"
						ng-click="addAdmConfig()">
						<span ng-show="id">Update</span> <span ng-show="!id">Save</span>
					</button>
				</div>
			</div>
	</form>
</div>
<div class="container">
	<h2>ADm Configs</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Environment Name</th>
				<th>Import/Export</th>
				<th>User Id</th>
				<th>Password</th>
				<th>Seibel Server</th>
				<th>Row Id</th>
				<th>Log File Path</th>
			</tr>
		</thead>
		<tbody ng-repeat="admConfig in allAdmConfigs">
			<tr>
				<td>{{admConfig.id}}</td>
				<td>{{admConfig.envName}}</td>
				<td>{{admConfig.admConfigType}}</td>
				<td>{{admConfig.userId}}</td>
				<td>{{admConfig.password}}</td>
				<td>{{admConfig.seibelServer}}</td>
				<td>{{admConfig.rowId}}</td>
				<td>{{admConfig.logFilePath}}</td>
				<td>
					<button type="button" class="btn btn-default"
						aria-label="Left Align" ng-click="modifyAdmConfig(admConfig)">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</button>

				</td>
				<td>
					<button type="button" class="btn btn-default"
						aria-label="Left Align" ng-click="deleteAdmConfig(admConfig)">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>