<div class="container" ng-controller="deploymentOptionsCtrl">
	<h2>Select the deployment options.</h2>
	<form role="form">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				{{selectedItem}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="env in allEnvs"><a
					ng-click="dropboxitemselected(env.name)" ng-model="selectedItem">{{env.name}}</a></li>
			</ul>
		</div>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						data-toggle="dropdown">
						{{repoType}}<span class="caret"></span>
					</button>
					<ul class="dropdown-menu form-group  col-sm-6 col-md-6">
						<li><a ng-click="dropboxRepoTypeSelected('Export')"
							ng-model="repoType">Export</a></li>
						<li><a ng-click="dropboxRepoTypeSelected('Import')"
							ng-model="repoType">Import</a></li>
						<li><a ng-click="dropboxRepoTypeSelected('DDLSync')"
							ng-model="repoType">DDLSync</a></li>
					</ul>
				</div>
	
		<div class="checkbox" ng-repeat="admService in allAdmBuildservices">
			<label> 
				<input type="checkbox" ng-click="toggleCheck(admService.code)"/>
				{{admService.description}}
			</label>
		</div>
		<div>
			<button class="btn btn-primary" type="button" ng-click="processAdmBuildServices()">
				Submit
			</button>
		</div>
	</form>
</div>