<div class="container" ng-controller="deploymentPackageCtrl">
	<h2>Select Deployment Package.</h2>
	<form role="form">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				{{selectedItem}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="env in allEnvs"><a
					ng-click="dropboxitemselected(env.name)" ng-model="selectedItem">{{env.name}}</a></li>
			</ul>
		</div>
		<div class="checkbox" ng-repeat="selectAction in allSelectActions">
			<label> 
				<input type="checkbox" ng-click="toggleCheck(selectAction.code)"/>
				{{selectAction.description}}
			</label>
		</div>
		<div>
			<button class="btn btn-primary" type="button" ng-click="processDeploymentPackageServices();">
				Submit
			</button>
		</div>
	</form>
</div>