<div class="container" ng-controller="envSetupCtrl">
	<div class="container">
		<h2>Add Environment Info</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label col-sm-6 col-md-6" for="email">Environment
					Name:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Environment Name" name="name" ng-model="name" />
				</div>
			</div>
			<div class="form-group  col-sm-6  col-md-6">
				<label class="control-label col-sm-6 col-md-6" for="email">Gateway
					Host Name:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Gateway Host Name" name="hostName"
						ng-model="hostName" />
				</div>
			</div>
			<div class="form-group   col-sm-6 col-md-6">
				<label class="control-label   col-sm-6 col-md-6" for="email">Enterprise
					Name:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Enterprise Name" name="enterpriseName"
						ng-model="enterpriseName" />
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label   col-sm-6 col-md-6" for="email">Server
					Host:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Server Host" name="serverHost"
						ng-model="serverHost" />
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label   col-sm-6 col-md-6" for="email">Server
					Name:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Server Name" name="serverName"
						ng-model="serverName" />
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label  col-sm-6 col-md-6" for="email">Service:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control" placeholder="Enter Service"
						name="service" ng-model="service" />
				</div>
			</div>
			<div class="form-group   col-sm-6 col-md-6">
				<label class="control-label   col-sm-6 col-md-6" for="email">Seibel
					Path:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Seibel Path" name="seibelPath"
						ng-model="seibelPath" />
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label   col-sm-6 col-md-6" for="email">ADM
					Path:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter ADM Path" name="admPath" ng-model="admPath" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default"
						ng-click="addEnvInfo()">
						<span ng-show="id">Update</span> <span ng-show="!id">Save</span>
					</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container">
		<h2>Environment Info</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Environment Name</th>
					<th>Gateway Host Name</th>
					<th>Enteerprise Name</th>
					<th>Server Host</th>
					<th>Server Name</th>
					<th>Service</th>
					<th>Seibel Path</th>
					<th>ADM Path</th>
				</tr>
			</thead>
			<tbody ng-repeat="env in allEnvs">
				<tr>
					<td>{{env.id}}</td>
					<td>{{env.name}}</td>
					<td>{{env.hostName}}</td>
					<td>{{env.enterpriseName}}</td>
					<td>{{env.serverHost}}</td>
					<td>{{env.serverName}}</td>
					<td>{{env.service}}</td>
					<td>{{env.seibelPath}}</td>
					<td>{{env.admPath}}</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="modifyEnvInfo(env)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>

					</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="deleteEnvInfo(env)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>